{:pages {"hidden-page" {:page/name "Secret", :page/path "pages/hidden-page.md", :page/hidden true}
         "home" {:page/name "home", :page/path "pages/home.md", :page/hidden false}
         "about" {:page/name "about", :page/path "pages/about.md", :page/hidden false}}

 :posts {}

 :tags {}}
